:root {
  --text-color: white;
  --icon-color: white;
  --background-color: orange;
}
body {
  margin: 0;
}
/* -----------상단바CSS----------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 0px 16px;
}
a {
  text-decoration: none;
  font-size: 12px;
}
.navbar_logo i {
  font-size: 20px;
  color: var(--icon-color);
}
.navbar_logo a {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
}
.navbar_menu {
  list-style: none;
  display: flex;
  padding-left: 0;
}
.navbar_menu li {
  padding: 0px 12px;
}
.navbar_menu a {
  color: var(--text-color);
}
.navbar_menu li:hover {
  background-color: darkorange;
  border-radius: 4px;
}
.navbar_icons {
  list-style: none;
  display: flex;
  padding-left: 0;
}
.navbar_icons li {
  padding: 0px 8px;
}
.navbar_icons a {
  color: var(--text-color);
}
.navbar_icons i {
  position: relative;
  top: 3px;
  font-size: 20px;
}
.navbar_toogleBtn {
  font-size: 20px;
  position: absolute;
  right: 16px;
  display: none;
}

@media screen and (max-width: 725px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar_menu {
    flex-direction: column;
  }
  .navbar_logo {
    align-self: flex-start;
  }
  .navbar_menu {
    width: 100%;
    display: none;
  }
  .navbar_menu li {
    text-align: center;
  }
  .navbar_icons {
    display: none;
    margin-top: 0;
  }
  .navbar_toogleBtn {
    display: block;
  }
  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}
/* 페이지헤더CSS */
.headerbar {
  width: 70%;
  display: flex;
  flex-direction: column;
  border: 5px solid orange;
  border-radius: 4px;
  box-sizing: content-box;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  position: relative;
  left: 14%;
}
.headerbar .headerbar__title {
  font-size: 50px;
  color: darkorange;
}
.headerbar .headerbar__description {
  font-size: 15px;
  color: orange;
}
/* ---------거래게시판CSS------------- */
.tContainer {
  margin: 50px;
}
.tboard {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 30%;
  height: 400px;
  overflow-y: scroll;
}
.tboard__title {
  font-size: 20px;
  top: 0px;
}
.tboard .sale {
  padding: 0 4px;
  background-color: lightgreen;
  display: inline-block;
  border-radius: 4px;
}
.tboard .buy {
  padding: 0 4px;
  background-color: orange;
  display: inline-block;
  border-radius: 4px;
}
.tboard .tborard__item {
  margin-bottom: 8px;
}
.tborard__item .item__imgAndData {
  display: flex;
  align-items: center;
}
.tborard__item .item__imgAndData .item__img {
  width: 100px;
}
.tborard__item .item__imgAndData .item__data {
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.tborard__item a:hover {
  color: darkorange;
}
