:root {
  --text-color: white;
  --icon-color: white;
  --background-color: orange;
}
body {
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 0px 16px;
}
a {
  text-decoration: none;
  font-size: 12px;
}
.navbar_logo i {
  font-size: 20px;
  color: var(--icon-color);
}
.navbar_logo a {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
}
.navbar_menu {
  list-style: none;
  display: flex;
  padding-left: 0;
}
.navbar_menu li {
  padding: 0px 12px;
}
.navbar_menu a {
  color: var(--text-color);
}
.navbar_menu li:hover {
  background-color: darkorange;
  border-radius: 4px;
}
.navbar_icons {
  list-style: none;
  display: flex;
  padding-left: 0;
}
.navbar_icons li {
  padding: 0px 8px;
}
.navbar_icons a {
  color: var(--text-color);
}
.navbar_icons i {
  position: relative;
  top: 3px;
  font-size: 20px;
}
.navbar_toogleBtn {
  font-size: 20px;
  position: absolute;
  right: 16px;
  display: none;
}

@media screen and (max-width: 725px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar_menu {
    flex-direction: column;
  }
  .navbar_logo {
    align-self: flex-start;
  }
  .navbar_menu {
    width: 100%;
    display: none;
  }
  .navbar_menu li {
    text-align: center;
  }
  .navbar_icons {
    display: none;
    margin-top: 0;
  }
  .navbar_toogleBtn {
    display: block;
  }
  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}
